.main{
  background-color: #11172b;
  color: #ffffff;
}
.topHeading{
  text-align: center;
  margin: 0px 0px 0px 50px;
  text-decoration: none;
  color: #FFF;
}
.topHeading.active{
  color: #ffffff;
  
}
.logo{
margin-left: 50px;
}
*{
  font-family: 'whitney','arial', 'sans-serif';
}
.container{
  width: 100%;
  margin: 25px 50px 75px 100px;
}
.formContainer{
  display: flex;
  flex-direction: column;
}
.searchform{
  display: flex;
  flex-direction: row;
}